<a href="https://colab.research.google.com/github/alexlauforgithub/2018NSYSUBigData/blob/master/shopee_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def import_data_from_drive(id):
  !wget --save-cookies cookies.txt 'https://docaas.google.com/uc?export=download&id='{id} -O- \
  | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1/p' > confirm.txt && wget --content-disposition --load-cookies cookies.txt 'https://docs.google.com/uc?export=download&id='{id}'&confirm='$(<confirm.txt)

In [ ]:
import_data_from_drive('1fq-Z8DBKC8cQ8Q08NL0yHdOpNiYUA2m0')

In [ ]:
!unzip /content/"Dataset for Multi-Channel Contacts Problem (1)".zip

In [125]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from tqdm import tqdm

In [126]:
df = pd.read_json('contacts.json')

In [127]:
npdata = df.values
df.head()

   Id               Email         Phone  Contacts                    OrderId
0   0      gkzAbIy@qq.com                       1
1   1                      329442681752         4  vDDJJcxfLtSfkooPhbYnJdxov
2   2                        9125983679         0
3   3  mdllpYmE@gmail.com                       0  bHquEnCbbsGLqllwryxPsNOxa
4   4                         300364407         2

In [ ]:
memory = {}
connections = {}

In [128]:
def add_to_memory(user_id, value):
  if value != "":
    if value in memory:
        memory[value].add(user_id)
        return
    memory[value] = {user_id}

In [129]:
for row in tqdm(npdata):
    user_id = row[0]
    add_to_memory(user_id, row[4])
    add_to_memory(user_id, row[1])
    add_to_memory(user_id, row[2])

100%|██████████| 500000/500000 [00:01<00:00, 326780.69it/s]

In [131]:
dummy_list = [{13,9,1111,555}, {1111,77777}, {77777,5678}, {5678,13}]

In [150]:
connections={}

In [151]:

for i in range(0,4):
  ids = dummy_list[i]
  current_connection = set(ids)
      
  print('--------------iter{}---------------'.format(i))
  ## 每一個id都去查找
  for uid in ids:
    print('now id set:', ids)
      ## 假設某id在總dict已存在key值, 則更新進來集合暫存
    if uid in connections:   
        current_connection.update(connections[uid])
    print('current_conn',current_connection)

  ## 對於每個id把目前完整集合都更新進去
  for uid in current_connection:
      connections[uid] = current_connection
  print('total conn',connections)

--------------iter0---------------
now id set: {9, 555, 13, 1111}
current_conn {9, 555, 13, 1111}
now id set: {9, 555, 13, 1111}
current_conn {9, 555, 13, 1111}
now id set: {9, 555, 13, 1111}
current_conn {9, 555, 13, 1111}
now id set: {9, 555, 13, 1111}
current_conn {9, 555, 13, 1111}
total conn {9: {9, 555, 13, 1111}, 555: {9, 555, 13, 1111}, 13: {9, 555, 13, 1111}, 1111: {9, 555, 13, 1111}}
--------------iter1---------------
now id set: {77777, 1111}
current_conn {77777, 1111}
now id set: {77777, 1111}
current_conn {77777, 1111, 9, 555, 13}
total conn {9: {77777, 1111, 9, 555, 13}, 555: {77777, 1111, 9, 555, 13}, 13: {77777, 1111, 9, 555, 13}, 1111: {77777, 1111, 9, 555, 13}, 77777: {77777, 1111, 9, 555, 13}}
--------------iter2---------------
now id set: {77777, 5678}
current_conn {77777, 1111, 9, 555, 13, 5678}
now id set: {77777, 5678}
current_conn {77777, 1111, 9, 555, 13, 5678}
total conn {9: {77777, 1111, 9, 555, 13, 5678}, 555: {77777, 1111, 9, 555, 13, 5678}, 13: {77777, 1111, 9, 555, 13, 5678}, 1111: {77777, 1111, 9, 555, 13, 5678}, 77777: {77777, 1111, 9, 555, 13, 5678}, 5678: {77777, 1111, 9, 555, 13, 5678}}
--------------iter3---------------
now id set: {13, 5678}
current_conn {9, 555, 13, 5678, 77777, 1111}
now id set: {13, 5678}
current_conn {9, 555, 13, 5678, 77777, 1111}
total conn {9: {9, 555, 13, 5678, 77777, 1111}, 555: {9, 555, 13, 5678, 77777, 1111}, 13: {9, 555, 13, 5678, 77777, 1111}, 1111: {9, 555, 13, 5678, 77777, 1111}, 77777: {9, 555, 13, 5678, 77777, 1111}, 5678: {9, 555, 13, 5678, 77777, 1111}}