In [7]:
import pandas as pd
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import svm
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
%matplotlib inline

In [23]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
submit = pd.read_csv('gender_submission.csv')

In [27]:
def clean_data(titanic):#填充空数据 和 把string数据转成integer表示
    titanic["Age"] = titanic["Age"].fillna(titanic["Age"].median())
    # child
    titanic["child"] = titanic["Age"].apply(lambda x: 1 if x < 15 else 0)

    # sex
    titanic["sex"] = titanic["Sex"].apply(lambda x: 1 if x == "male" else 0)

    titanic["Embarked"] = titanic["Embarked"].fillna("S")
    # embark
    def getEmbark(Embarked):
        if Embarked == "S":
            return 1
        elif Embarked == "C":
            return 2
        else:
            return 3
    titanic["embark"] = titanic["Embarked"].apply(getEmbark)

    # familysize
    titanic["fimalysize"] = titanic["SibSp"] + titanic["Parch"] + 1

    # cabin
    def getCabin(cabin):
        if cabin == "N":
            return 0
        else:
            return 1
    titanic["cabin"] = titanic["Cabin"].apply(getCabin)

    # name
    def getName(name):
        if "Mr" in str(name):
            return 1
        elif "Mrs" in str(name):
            return 2
        else:
            return 0
    titanic["name"] = titanic["Name"].apply(getName)

    titanic["Fare"] = titanic["Fare"].fillna(titanic["Fare"].median())

    return titanic
# 对数据进行清洗
train_data = clean_data(train)
test_data = clean_data(test)

In [28]:
features = ["Pclass", "sex", "child", "fimalysize", "Fare", "embark", "cabin"]

In [30]:
# 简单初始化xgb的分类器就可以
clf =XGBClassifier(learning_rate=0.1, max_depth=2, 
silent=True, objective='binary:logistic')
# 设置boosting迭代计算次数
param_test = {
    'n_estimators': range(30, 50, 2),
    'max_depth': range(2, 7, 1)
}
grid_search = GridSearchCV(estimator = clf, param_grid = param_test, 
scoring='accuracy', cv=5)
grid_search.fit(train_data[features], train_data["Survived"])
grid_search.best_params_, grid_search.best_score_

({'max_depth': 6, 'n_estimators': 32}, 0.83164983164983164)

In [ ]:
xgbmodel =XGBClassifier(learning_rate=0.1, max_depth=6,n_estimators=32,
silent=True, objective='binary:logistic')

In [41]:
y_pred=xgbmodel.predict[test_data[features]]

TypeError: 'method' object is not subscriptable

     Pclass  sex  child  fimalysize      Fare  embark  cabin
0         3    1      0           2    7.2500       1      1
1         1    0      0           2   71.2833       2      1
2         3    0      0           1    7.9250       1      1
3         1    0      0           2   53.1000       1      1
4         3    1      0           1    8.0500       1      1
5         3    1      0           1    8.4583       3      1
6         1    1      0           1   51.8625       1      1
7         3    1      1           5   21.0750       1      1
8         3    0      0           3   11.1333       1      1
9         2    0      1           2   30.0708       2      1
10        3    0      1           3   16.7000       1      1
11        1    0      0           1   26.5500       1      1
12        3    1      0           1    8.0500       1      1
13        3    1      0           7   31.2750       1      1
14        3    0      1           1    7.8542       1      1
15        2    0      0           1   16.0000       1      1
16        3    1      1           6   29.1250       3      1
17        2    1      0           1   13.0000       1      1
18        3    0      0           2   18.0000       1      1
19        3    0      0           1    7.2250       2      1
20        2    1      0           1   26.0000       1      1
21        2    1      0           1   13.0000       1      1
22        3    0      0           1    8.0292       3      1
23        1    1      0           1   35.5000       1      1
24        3    0      1           5   21.0750       1      1
25        3    0      0           7   31.3875       1      1
26        3    1      0           1    7.2250       2      1
27        1    1      0           6  263.0000       1      1
28        3    0      0           1    7.8792       3      1
29        3    1      0           1    7.8958       1      1
..      ...  ...    ...         ...       ...     ...    ...
861       2    1      0           2   11.5000       1      1
862       1    0      0           1   25.9292       1      1
863       3    0      0          11   69.5500       1      1
864       2    1      0           1   13.0000       1      1
865       2    0      0           1   13.0000       1      1
866       2    0      0           2   13.8583       2      1
867       1    1      0           1   50.4958       1      1
868       3    1      0           1    9.5000       1      1
869       3    1      1           3   11.1333       1      1
870       3    1      0           1    7.8958       1      1
871       1    0      0           3   52.5542       1      1
872       1    1      0           1    5.0000       1      1
873       3    1      0           1    9.0000       1      1
874       2    0      0           2   24.0000       2      1
875       3    0      0           1    7.2250       2      1
876       3    1      0           1    9.8458       1      1
877       3    1      0           1    7.8958       1      1
878       3    1      0           1    7.8958       1      1
879       1    0      0           2   83.1583       2      1
880       2    0      0           2   26.0000       1      1
881       3    1      0           1    7.8958       1      1
882       3    0      0           1   10.5167       1      1
883       2    1      0           1   10.5000       1      1
884       3    1      0           1    7.0500       1      1
885       3    0      0           6   29.1250       3      1
886       2    1      0           1   13.0000       1      1
887       1    0      0           1   30.0000       1      1
888       3    0      0           4   23.4500       1      1
889       1    1      0           1   30.0000       2      1
890       3    1      0           1    7.7500       3      1

[891 rows x 7 columns]